<h1>Places Details: </h1>
<ul>
<li><h2>@Model.PlaceName</h2></li>
<li>@Model.LongT</li>
<li>@Model.Lat</li>
<li>@Model.Season</li>
<li><p>@Model.JournalEntry</p></li>
</ul>

<a href='/places/new'>Add another item</a>
<a href='/places'>View all items</a>
